<p id="notice"><%= notice %></p>

<% if params[:search].present? %>
  <h1>/r/<%= params[:search] %> </h1>
<% else %>
  <h1>/r/popular</h1>
<% end %>

<% if @posts.empty? %> 
  <% if @error == false %>
    <p>Looks like that subreddit doesn't exist. Try searching for another subreddit.</p>
  <% else %>
    <p>Looks like we're making too many requests to the Reddit API. Try refreshing the page in a couple seconds.</p>
  <% end %>
<% else %>
  <% @posts.each do |post| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><%= link_to post["data"]["title"], post["data"]["url"] %></h3>
        <% permalink = "https://www.reddit.com" + post["data"]["permalink"] %>
        <p><%= link_to permalink do %><%= post["data"]["num_comments"]%> comments<% end %>, <%= post["data"]["ups"] %> upvotes, <%= post["data"]["downs"] %> downvotes</p>
        <p>Posted <%= time_ago_in_words(Time.at(post["data"]["created"])) %> ago by <%= post["data"]["author"] %></p> 
      </div>
    </div> 
  <% end %>
<% end %>

